language: go
go:
- 1.11.2
before_install:
- sudo pip install codecov
install:
- make setup
script:
- make cover
after_success:
- codecov
notifications:
  slack:
    secure: aJFbqyz8+5mB2EcfVLdcCtosdhonBxHxDvjjPyOBBMR7KRX3IV8+79pR2xR0KIvQhDHWh1wkdztG7aXfZjtwdW1+mDWbR9oed0ZzcL4+FHrV3vi16oqex28fAM3ZVRGyswxFmUUFjfpBbiaVy25wpFnZoPW3t6FrDjrCnE8HBzA=
